<head>
  <title><%= content_for(:title) || 'Key Resources' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag asset_path('favicon-crown.png'), rel: 'icon', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_stylesheet_tag 'application.scss' %>
</head>
