<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  <%= vite_javascript_tag 'application' %>
</body>
</html>
